# IDE
.idea/
*.iml

# macOS
.DS_Store

# Android build outputs
*.apk
*.aab
build/
local.properties

# iOS build outputs
*.xcworkspace
*.xcuserdata
DerivedData/
Pods/

*/node_modules/
*/dist/
*/.git/
node_modules
dist
.env
.gitkeep

